<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- GWT RPC services -->
	<servlet>
		<servlet-name>eventServiceImpl</servlet-name>
		<servlet-class>org.polishcalendar.server.EventServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>organizationServiceImpl</servlet-name>
		<servlet-class>org.polishcalendar.server.OrganizationServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>userServiceImpl</servlet-name>
		<servlet-class>org.polishcalendar.server.UserServiceImpl</servlet-class>
	</servlet>

	<!-- Invoke on server initialization -->
	<servlet>
		<servlet-name>LoggerInitServlet</servlet-name>
		<servlet-class>org.polishcalendar.server.LoggerInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties</param-name>
			<param-value>/WEB-INF/classes/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- GWT-RPC servlet mappings -->
	<servlet-mapping>
		<servlet-name>eventServiceImpl</servlet-name>
		<url-pattern>/polishcalendardev/event</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>organizationServiceImpl</servlet-name>
		<url-pattern>/polishcalendardev/organization</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userServiceImpl</servlet-name>
		<url-pattern>/polishcalendardev/user</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>PolishCalendarDev.html</welcome-file>
	</welcome-file-list>

</web-app>
